<h1>Editing leave type</h1>

<%= render "form", leave_type: @leave_type %>

<br>

<div>
  <%= link_to "Show this leave type", @leave_type %> |
  <%= link_to "Back to leave types", leave_types_path %>
</div>
